.f-contextMenu {
    z-index: 9999;

    .el-popper,
    .el-popper.is-light .el-popper__arrow::before {
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        border: none;
    }

    .el-dropdown-menu__item {
        padding: 8px 20px;
        user-select: none;
    }

    .el-dropdown-menu__item .icon {
        margin-right: 5px;
    }

    .el-dropdown-menu__item:not(.is-disabled) {
        &:hover {
            background-color: var(--el-dropdown-menuItem-hover-fill);
            color: var(--el-dropdown-menuItem-hover-color);
            .fa {
                color: var(--el-dropdown-menuItem-hover-color) !important;
            }
        }
    }
}
