.f-dialog {
    --el-dialog-margin-top: 10vh;
    --el-dialog-width: 70vw;
    --el-dialog-height: 80vh;
    --el-dialog-header-height: 50px;
    --el-dialog-footer-height: 50px;
    margin: var(--el-dialog-margin-top, 15vh) auto 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: var(--el-dialog-width);
    max-height: var(--el-dialog-height);
    &.f-dialog-fill-height {
        height: 100%;
        .el-dialog__body {
            > .el-scrollbar {
                > .el-scrollbar__wrap {
                    > .el-scrollbar__view {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
        .el-dialog__footer {
            border-top: 0;
        }
    }
    .el-dialog__header {
        font-size: 16px;
        height: var(--el-dialog-header-height);
        border-bottom: 1px solid var(--el-border-color-lighter);
        padding: var(--el-dialog-padding-primary);
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .f-dialog-header {
            flex-grow: 1;
        }
        .f-dialog-header-icon {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .icon {
                box-sizing: content-box;
            }
            &:hover {
                .icon {
                    animation: twinkle 0.3s ease-in-out;
                }
            }
        }
    }
    .el-dialog__body {
        overflow: auto;
        height: 100%;
        padding: calc(var(--el-dialog-padding-primary) - 8px);
        .f-dialog-scrollbar {
        }
    }
    .el-dialog__footer {
        height: var(--el-dialog-footer-height);
        padding-top: 10px;
        margin: 0 10px;
        border-top: 1px solid var(--el-border-color-lighter);
    }
    &.is-fullscreen {
        --el-dialog-width: 100%;
        --el-dialog-margin-top: 0;
        margin-bottom: 0;
        height: 100% !important;
        overflow: auto;
        margin: 0 !important;
        margin: 0 !important;
        max-height: none !important;
        width: 100% !important;
    }
}
