.fast-layout-container {
    height: 100%;
    width: 100%;
}

.fast-layout-aside {
    background: var(--fast-bg-color-overlay);
    margin: 0;
    height: 100vh;
    overflow: hidden;
    transition: width 0.3s ease;
    border-right: solid 1px var(--el-color-info-light-8);
    &.shrink {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999999;
    }
}

.fast-layout-logo {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    background: var(--fast-config-layout-menuTopBarBackground);
    .logo-img {
        width: 28px;
    }
    .website-name {
        display: block;
        padding-left: 4px;
        font-size: var(--el-font-size-extra-large);
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.fast-layout-menu-scrollbar {
    background-color: var(--fast-config-layout-menuBackground);
}

.fast-layout-menu {
    border: 0;
    padding-bottom: 30px;
    --el-menu-bg-color: var(--fast-config-layout-menuBackground);
    --el-menu-text-color: var(--fast-config-layout-menuColor);
    --el-menu-active-color: var(--fast-config-layout-menuActiveColor);
    .el-sub-menu .icon,
    .el-menu-item .icon {
        vertical-align: middle;
        margin-right: 5px;
        width: 24px;
        text-align: center;
        flex-shrink: 0;
    }
    .is-active > .icon {
        color: var(--el-menu-active-color) !important;
    }
    .el-menu-item.is-active {
        background-color: var(--fast-config-layout-menuActiveBackground);
    }
}

.fast-layout-content-wrapper {
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.fast-layout-header {
    height: auto;
    padding: 0;
}

.fast-layout-nav-bar {
    display: flex;
    align-items: center;
    height: 45px;
    background-color: var(--fast-config-layout-headerBarBackground);
    border-bottom: solid 1px var(--el-color-info-light-8);
}

.fast-layout-hamburger {
    align-self: center;
    padding-left: 16px;
    &.unfold {
        align-self: center;
    }
}

.fast-layout-breadcrumb {
    align-self: center;
    padding-left: 16px;
    .no-redirect {
        color: #97a8be;
        cursor: text;
    }
}

.fast-layout-nav-module-scrollbar {
    flex-grow: 1;
    margin-right: 16px;
}

.fast-layout-nav-module {
    border: none !important;
    height: 44px;
    justify-content: flex-end;
    --el-menu-bg-color: var(--fast-config-layout-menuBackground);
    --el-menu-text-color: var(--fast-config-layout-menuColor);
    --el-menu-active-color: var(--fast-config-layout-menuActiveColor);
    .el-menu-item {
        height: 44px;
        line-height: 44px;
    }
    .el-menu-item .icon {
        vertical-align: middle;
        margin-right: 5px;
        width: 24px;
        text-align: center;
        flex-shrink: 0;
    }
    .is-active > .icon {
        color: var(--el-menu-active-color) !important;
    }
    .el-menu-item.is-active {
        background-color: var(--fast-config-layout-menuActiveBackground);
    }
}

.fast-layout-nav-menu {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: var(--fast-config-layout-headerBarBackground);
    .fast-layout-nav-menu-item {
        height: 100%;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .fast-layout-nav-menu-icon {
            box-sizing: content-box;
            color: var(--fast-config-layout-headerBarTabColor);
        }
        &:hover {
            .icon {
                animation: twinkle 0.3s ease-in-out;
            }
        }
    }
    .fast-layout-nav-menu-item:hover,
    .user-info:hover,
    .fast-layout-nav-menu-item.hover,
    .user-info.hover {
        background: var(--fast-config-layout-headerBarHoverBackground);
    }
    .dropdown-menu-box {
        .el-dropdown-menu__item {
            justify-content: center;
        }
    }
    .user-info {
        display: flex;
        height: 100%;
        padding: 0 10px;
        align-items: center;
        cursor: pointer;
        user-select: none;
        color: var(--fast-config-layout-headerBarTabColor);
        .user-name {
            padding-left: 6px;
            white-space: nowrap;
        }
        .user-info-base {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-top: 10px;
            .user-info-other {
                display: block;
                width: 100%;
                text-align: center;
                padding: 10px 0;
                .user-info-name {
                    font-size: var(--el-font-size-large);
                }
            }
        }
        .user-info-footer {
            padding: 10px 0;
            margin: 0 -12px -12px -12px;
            display: flex;
            justify-content: space-around;
        }
    }
    .pt2 {
        padding-top: 2px;
    }
    @keyframes twinkle {
        0% {
            transform: scale(0);
        }
        80% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }
}

.fast-layout-nav-tabs {
    height: 30px;
    width: 100%;
    background-color: var(--fast-config-layout-headerBarBackground);
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    user-select: none;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px var(--el-color-info-light-8);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
    &::-webkit-scrollbar {
        height: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background: #eaeaea;
        border-radius: var(--el-border-radius-base);
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    &::-webkit-scrollbar-track {
        background: var(--fast-config-layout-headerBarBackground);
    }
    &:hover {
        &::-webkit-scrollbar-thumb:hover {
            background: #c8c9cc;
        }
    }
    .fast-layout-nav-tabs-icon {
        height: 100%;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .icon {
            box-sizing: content-box;
            color: var(--fast-config-layout-headerBarTabColor);
        }
        &.left {
            box-shadow: 5px 0 5px -6px #ccc;
        }
        &.right {
            box-shadow: -5px 0 5px -6px #ccc;
        }
        &:hover {
            background: var(--fast-config-layout-headerBarHoverBackground);
            .icon {
                animation: twinkle 0.3s ease-in-out;
            }
        }
    }
    .fast-layout-nav-tabs-content {
        flex-grow: 1;
        white-space: nowrap;
        .fast-layout-nav-tabs-item {
            display: inline-block;
            height: 26px;
            line-height: 26px;
            cursor: pointer;
            border: solid 1px var(--el-color-info-light-8);
            border-radius: var(--el-border-radius-base);
            color: var(--fast-config-layout-headerBarTabColor);
            padding: 0 8px;
            font-size: 14px;
            margin-top: 1px;
            &:first-of-type {
                margin-left: 5px;
            }
            &:last-of-type {
                margin-right: 5px;
            }
            align-items: center;
            justify-content: center;
            user-select: none;
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
            white-space: nowrap;
            .close-icon {
                padding: 2px;
                margin: 2px 0 0 4px;
            }
            .close-icon:hover {
                background: var(--fast-color-primary-light);
                color: var(--fast-border-color) !important;
                border-radius: 50%;
            }
            &.active {
                color: var(--fast-config-layout-headerBarTabActiveColor);
                &::before {
                    content: "";
                    background-color: var(--fast-config-layout-headerBarTabActiveColor);
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    position: relative;
                    margin-right: 2px;
                }
            }
            &:hover {
                background-color: var(--fast-config-layout-headerBarHoverBackground);
            }
        }
    }
    .fast-layout-nav-tabs-active-box {
        position: absolute;
        height: 50px;
        background-color: var(--fast-config-layout-headerBarTabActiveBackground);
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
    }
}
.fast-layout-nav-tabs.dark {
    .close-icon {
        color: var(--fast-config-layout-headerBarTabColor) !important;
    }
    .fast-layout-nav-tabs-item.active {
        .close-icon {
            color: var(--fast-config-layout-headerBarTabActiveColor) !important;
        }
    }
}

.fast-layout-main {
    padding: 0 !important;
    margin: var(--fast-main-space);
    overflow: hidden;
    width: 100%;
    height: 100%;
    .fast-layout-main-scrollbar {
        width: 100%;
        position: relative;
        overflow: hidden;
    }
}

.fast-layout-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-size: 14px;
    color: var(--el-text-color-secondary);
    text-decoration: none;
    letter-spacing: 0.5px;
    background-color: var(--fast-config-layout-footerBackground);
    border-top: 1px solid var(--el-border-color-light);
    img {
        width: 14px;
        height: 14px;
    }
}

.fast-layout-close-full-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: calc(50% - 20px);
    z-index: 9999999;
    height: 40px;
    width: 40px;
    background-color: rgba($color: #000000, $alpha: 0.1);
    border-radius: 50%;
    box-shadow: var(--el-box-shadow-light);
    transition: all 0.3s ease;
    .icon {
        color: rgba($color: #000000, $alpha: 0.6) !important;
    }
    &:hover {
        background-color: rgba($color: #000000, $alpha: 0.3);
        .icon {
            color: rgba($color: #ffffff, $alpha: 0.6) !important;
        }
    }
}
.fast-layout-close-full-screen-on {
    position: fixed;
    top: 0;
    z-index: 9999998;
    height: 60px;
    width: 100px;
    left: calc(50% - 50px);
}
